html, body {
	margin: 0;
	font-family: Helvetica, Arial;
	font-weight: 100;

	.home-page {
		.content-wrapper {
			height: 500px;
			font-family: Helvetica, Arial;
			font-weight: 100;
			letter-spacing: 1.5px;
			text-align: center;
		    padding: 9% 0;
			
			.content-subj {
				display: inline-block;
				width: 100px;
				color: #fff;
				height: 100%;
				text-align: left;
				margin: 0 0.5%;

				.title {
					padding: 0 15px;
				}
			}

			.tab-home {
				background: #c3c30e;
				border: 5px solid #c3c30e;

				&:hover {
					background: #fff;
					border: 5px solid #c3c30e;
					color: #000;
				}
			}
			.tab-about {
				background: #e7baa0;
				border: 5px solid #e7baa0;
				&:hover {
					background: #fff;
					border: 5px solid #e7baa0;
					color: #000;
				}
			}
			.tab-work {
				background: #94b3b6;
				border: 5px solid #94b3b6;
				&:hover {
					background: #fff;
					border: 5px solid #94b3b6;
					color: #000;
				}
			}
			.tab-contact {
				background: #520303;
				border: 5px solid #520303;
				&:hover {
					background: #fff;
					border: 5px solid #520303;
					color: #000;
				}
			}
		}
	}
}